:root {
    --text-black: #000;
    --text-white: #FFF;
    --bg-white: #FFF;
    --text-sandy: #D5BCA4;
    --bg-sandy: #D5BCA4;
    --action-bg-brown: #745843;
    --secondary-black: #212121;
    --bg-secondary-white: #E6EBEE;
}
